@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&family=Roboto:wght@400;700&display=swap');

/*resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #A5823C;
    --dark-100: #24282C;
    --grey-light:#878787;
    --grey-40:#87878766;
    --light:#FFF;
    /*--padding-inline-section: 20px;*/

}

body {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: var(--dark-100);
}

h2 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.6875rem;
    color: var(--dark-100);
}

h3 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--dark-100);
}

h4 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--dark-100);
}

p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3125rem;
    color: var(--grey-light);
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--grey-light);
}

ul {
    list-style: none;
}


/*utility classes*/

.small-bold-text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container {
    max-width: 90rem;
    /*margin-inline: auto;*/
    margin: 0 5rem;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.primary-button{
    display: inline-flex;
    padding: 1.5rem;
    border: none;
    color: #FFFFFF;
    background-color: var(--primary-text-color);
}

.primary-button-with-arrow {
    padding: 1.5rem;
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
    gap: 0.625rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    color: #FFFFFF;
    background-color: var(--primary-text-color);
}

.primary-text {
    color: var(--primary-text-color);
}

/*nav bar*/

.logo {
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul{
    justify-content: end;
    gap: 3rem;
    margin-left: 9.38rem;
}

nav ul li {
    /* margin-bottom: 1.5rem; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav ul li .home  span{
    text-decoration-line: underline;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: var(--primary-text-color);
    /* color: var(--primary-text-color);*/
} 

nav ul li span{
    padding: 0rem 0.20831rem;
    justify-content: center;
    align-items: center;
    color: var(--grey-light);
}


.pipe {
    width: 0.125rem;
    height: 1.5rem;
    border-radius: 6.25rem;
    margin: 2rem 0 2rem;
    background: var(--grey-40, rgba(135, 135, 135, 0.40));
}

nav button{
    width: 12.9375rem;
    height: 5.0625rem;
    padding: 1.5rem 2rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 5rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*hero section*/
/* left */
.hero-section {
    flex-flow: row wrap;;
}
.hero-section-left{
    width: 60%;
}

.hero-section-left h3{
    font-size: 1.5rem;
    margin: 5.31rem 0 1rem;
}

/* right */
.hero-section-right {
    width: 40%;
    /* flex-flow: row wrap; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.avatars {
    display: flex;
    /* margin-left: 3rem; */
    flex-direction: row-reverse;
  }

  .avatar {
    position: relative;
    border: 4px solid #fff;
    border-radius: 3.75rem;
    overflow: hidden;
    width: 100px;
  }
  
.avatar:not(:last-child) {
    margin-left: -60px;
  }
  
.avatar img {
    width: 100%;
    display: block;
  }

.avatars a {
    margin: 2.34rem 0  0 1.5rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--primary-text-color);
    }

.avatars a span{
    margin-left: 0.75rem;
}

.hero-section-right .primary-button {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-section-right .primary-button span {
    margin-left: 0.75rem;
}

.hero-section .horizontal-line {
    height: 0.125rem;
    width: 23.75rem;
    margin: 2rem 0 2rem;
    border-radius: 6.25rem;
    background: var(--grey-40, rgba(135, 135, 135, 0.40));
}

.hero-section-right h3{
    flex-direction: column;
}

.hero-section h3 span {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-section-image {
    width: 100%;
    height: 40rem;
    margin: 4.4rem 0 4.4rem;
}

.hero-section-image img{
    width: 100%;
}

/*about me section*/

.about-me-left{
    width: 53%;
}

.about-me-left h3 {
    margin: 14.29rem 0 1rem 2rem;
}

.about-me-left-buttons-and-link{
    align-items: flex-start;
}

.about-me-left button {
    margin-top: 3rem;
}

.about-me-left a {
    margin-left: 3rem;
    margin-top: 4.5rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--primary-text-color);
}
.about-me-right{
    width: 47%;
}

.about-me-right img {
    width: 100%;
}

/*service section*/

.service-section{
    gap: 3.69rem;
}

.service-section-left {
    margin: 4.69rem 0 4.6rem 0;
    width: 38.125rem;
    height: 53rem;
}

.service-section-right {
    width: 50%;
}

.service-section-right-card{
    /*margin: 3rem 0 1.5rem;*/
    padding: 1.5rem;
}

.personal-photo span {
    margin-left:18.38rem;
}

.event-photography {
    background-color:var(--dark-100);
    padding: 1.5rem;
}

.event-photography h4 {
    color: var(--light);
}

.event-photography span {
    margin-left: 16.94rem;
    color: var(--light);
}

.event-photography p{
    color: var(--light);
}
